/*colors, moved from HTML*/

body {
    background-color:blue

}

h1 {
    color:ivory;
    text-align:left;
    font-size: x-large;
    
}

p {
    color: white;
    font-size: large;
}
